    @media only screen and (max-width: 800px) {
        #main-nav {
            height: 20vh;
        }
        .navbar {
            flex-direction: column;
        }
        .showcase {
            visibility: hidden;
        }
        #other-nav {
            min-height: 20vh;
        }
        .logo {
            margin-bottom: 15px;
        }
        .boxes {
            flex-direction: column;
        }
        .boxes-2 {
            flex-direction: column;
        }
        .boxes-2>div {
            width: 100%;
            text-align: center;
            padding: 55px 30px;
            margin-top: 0px;
        }
        .about-me {
            grid-template-columns: 1fr;
        }
        .about-me>div {
            padding-left: 5px;
        }
        .about-me>div::before {
            left: 0px;
        }
        #about-logo {
            display: none;
        }
        .people {
            grid-template-columns: 1fr;
            grid-gap: 0.1rem;
            padding: 25px;
        }
        .people-flex {
            margin: 25px;
        }
        .work-img {
            grid-template-columns: 1fr;
            padding: 25px;
        }
        .contact form>div {
            display: flex;
            flex-direction: column;
        }
        .final p {
            font-size: 45px;
        }
        .footer {
            flex-direction: column;
        }
        .footer i {
            margin-top: 25px;
        }
    }